<template>
  <div :class="['main-component', { 'night-mode': nightMode }]">
    <AppHeader />
    <div class="calendars">
      <AppCalendar
        v-for="(calendar, index) in calendars"
        :key="index"
        :nightMode="nightMode"
        :calendar="calendar"
        :currentMonth="currentMonth"
        :currentYear="currentYear"
        :monthNames="monthNames"
        :firstDayOfMonth="firstDayOfMonth"
        :daysInMonth="daysInMonth"
      />
    </div>
    <MonthLinks
      :monthLinks="monthNames"
      :nightMode="nightMode"
      @change-month="handleChangeMonth"
    />
    <MonthSelectionContextMenu />
    <AppFooter />
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted, watch } from 'vue';
import AppHeader from '../header/AppHeader.vue';
import AppCalendar from '../calendar/AppCalendar.vue';
import MonthLinks from '../month/MonthLinks.vue';
import MonthSelectionContextMenu from '../month/MonthSelectionContextMenu.vue';
import AppFooter from '../footer/AppFooter.vue';
import { CalendarDay } from '../../types/models';

const nightMode = ref(false);
const currentMonth = ref(new Date().getMonth());
const currentYear = ref(new Date().getFullYear());
const monthNames = [
  'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь',
  'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'
];
const firstDayOfMonth = ref(0);
const daysInMonth = ref(0);
const calendars = ref<CalendarDay[][]>([]);

const handleChangeMonth = (monthIndex: number) => {
  currentMonth.value = monthIndex;
};

const generateCalendar = (year: number, month: number): CalendarDay[] => {
  const daysInMonth = new Date(year, month + 1, 0).getDate();
  const firstDayOfMonth = new Date(year, month, 1).getDay();

  const days: CalendarDay[] = [];

  for (let i = 1; i < firstDayOfMonth; i++) {
    days.push({
      day: new Date(year, month, -firstDayOfMonth + i + 1).getDate(),
      isPrevMonth: true
    });
  }

  for (let i = 1; i <= daysInMonth; i++) {
    days.push({ day: i, isPrevMonth: false });
  }

  const daysInNextMonth = 35 - days.length;
  for (let i = 1; i <= daysInNextMonth; i++) {
    days.push({ day: i, isPrevMonth: true });
  }

  return days;
};

const updateCalendars = () => {
  calendars.value = Array.from({ length: 3 }, () => generateCalendar(currentYear.value, currentMonth.value));
};

onMounted(updateCalendars);
watch(currentMonth, updateCalendars);
</script>

<style lang="scss">
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  transition: background-color 0.5s, color 0.5s;

  &.night-mode {
    background-color: #2c3649;
    color: white;
  }
}

.main-component {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.calendars {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
}
</style>