<template>
  <div class="calendar" :class="{ 'night-mode': nightMode }">
    <div class="month-header">{{ monthNames[currentMonth] }} {{ currentYear }}</div>
    <div class="days">
      <div
        class="day"
        v-for="(day, index) in props.calendar"
        :key="index"
        :class="dayClasses(day, index)"
      >
        {{ day.day }}
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { defineProps, computed } from 'vue';

interface Day {
  day: number;
  isPrevMonth: boolean;
}

const props = defineProps({
  monthNames: {
    type: Array as () => string[],
    required: true
  },
  currentMonth: {
    type: Number,
    required: true
  },
  currentYear: {
    type: Number,
    required: true
  },
  calendar: {
    type: Array as () => Day[],
    required: true
  },
  firstDayOfMonth: {
    type: Number,
    required: true
  },
  daysInMonth: {
    type: Number,
    required: true
  },
  nightMode: {
    type: Boolean,
    default: true
  }
});

const dayClasses = computed(() => {
  return (day: Day, index: number) => {
    return [
      'day',
      { 'disabled': index < props.firstDayOfMonth || index >= props.daysInMonth + props.firstDayOfMonth },
      { 'previous-month-day': day.isPrevMonth }
    ];
  };
});
</script>

<style scoped>
.calendar {
  width: 380px;
  height: 320px;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(250, 250, 250, 0.15);
  transition: background-color 0.5s;

  &.night-mode {
    background-color: #2c3649;
    color: white;
  }
}

.month-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 7px;

  &.disabled {
    opacity: 1;
    cursor: not-allowed;
  }

  &.previous-month-day {
    opacity: 0.2;
  }
}
</style>