<template>
  <div class="app-header">
    <h1>Тестовое задание</h1>
    <ThemeSwither />
  </div>
</template>

<script setup lang="ts">
import ThemeSwither from './ThemeSwither.vue';
</script>

<style scoped lang="scss">
.app-header {
  margin-top: 10px;
  margin-left: 115px;

  h1 {
    font-size: 35px;
  }

  @media (max-width: 1280px) {
    margin-left: auto;
    margin-right: auto;
  }
}
</style>