<template>
  <div class="app-header">
    <ToggleButton :active="nightMode" @update:active="toggleTheme">
      <template #icon-container>
        <div class="icon-container">
          <img src="@/assets/picture/sun.svg" class="icon sun-icon" alt="Sun Icon" />
          <img src="@/assets/picture/moon.svg" class="icon moon-icon" alt="Moon Icon" />
        </div>
      </template>
    </ToggleButton>
  </div>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue';
import ToggleButton from '../package/extended/ToggleButton.vue';

const nightMode = ref(false);

watch(nightMode, (newValue) => {
  document.body.classList.toggle('night-mode', newValue);
});

const toggleTheme = (value: boolean) => {
  nightMode.value = value;
};
</script>

<style scoped lang="scss">
.app-header {
  margin-top: 10px;
  margin-left: 115px;

  h1 {
    font-size: 35px;
  }

  @media (max-width: 1280px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.icon-container {
  width: 20px;
  height: 20px;
  position: relative;

  .icon {
    position: absolute;
    width: 20px;
    height: 20px;
    transition: transform 0.5s, opacity 0.5s;
  }

  .moon-icon {
    opacity: 1;
    transform: translateX(-12px);
  }

  .sun-icon {
    opacity: 0;
    transform: translateX(12px);
  }
  
}

.toggle-button.active {
  .moon-icon {
    opacity: 0;
    transform: translateX(12px);
  }

  .sun-icon {
    opacity: 1;
    transform: translateX(12px);
  }
}
</style>