<template>
  <div class="footer-component">
    <div class="image-container">
      <img src="@/assets/picture/picture.jpg" alt="Example Image">
    </div>
    <div class="text-container">
      <div class="text-overlay">
        <h2>Заголовок</h2>
      </div>
      <p>Платформа управления геопространственными данными «Геопаспорт» — это инновационный продукт, представляющий собой набор программных решений и позволяющий создавать современное прикладное программное обеспечение в области управления данными территории или региона. Программа включена в единый реестр российских программ для ЭВМ и баз данных.</p>
    </div>
  </div>
</template>

<style scoped lang="scss">
.footer-component {
  display: flex;
  justify-content: flex-start;
  background-color: #2c3649;
  width: 100%;
  max-height: 40vh;
  transition: transform 0.5s;
  margin-top: auto;
  overflow: hidden;

  @media (max-width: 1550px) {
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
  }

  .image-container {
    width: 30%;
    flex-shrink: 0;
    margin-right: 10px;

    img {
      max-width: 100%;
      height: 100%;
      width: auto;
    }

    @media (max-width: 1550px) {
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
    padding-right: 20px;

    .text-overlay {
      width: 100%;
      display: flex;
      margin-bottom: 10px;
    }

    h2 {
      text-align: center;
      color: white;
      margin: 0 0 20px 0;
      font-size: 50px;
      padding: 2px 70px;
      background: linear-gradient(to right, #6f45e0 17px, #000000 17px, #000000 45px, #6f45e0 20px, #6f45e0 calc(100% - 60px), #f73373 calc(100% - 60px), #f73373);

      @media (max-width: 1550px) {
        font-size: 40px;
        padding: 2px 50px;
      }
    }

    p {
      color: white;
      margin-top: 1px;
      margin-bottom: 60px;
      width: 100%;
      font-size: 25px;

      @media (max-width: 1550px) {
        font-size: 20px;
      }
    }
  }
}
</style>