<template>
  <div class="toggle-button" :class="{ 'active': isActive }" @click="toggle">
    <slot name="icon-container"></slot>
  </div>
</template>

<script setup lang="ts">
import { defineProps, defineEmits, computed } from 'vue';

const props = defineProps({
  active: {
    type: Boolean,
    required: true,
  },
});

const emit = defineEmits(['update:active']);

const isActive = computed(() => props.active);

const toggle = () => {
  emit('update:active', !isActive.value);
};
</script>

<style scoped lang="scss">
.toggle-button {
  position: absolute;
  right: 110px;
  width: 45px;
  top: 40px;
  height: 25px;
  background-color: #2c3e50;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 5px;
  cursor: pointer;
  transition: background-color 0.5s, transform 0.5s;
  z-index: 10;

  &:focus {
    outline: none;
  }

  &.active {
    background-color: gray;
  }

  @media (max-width: 650px) {
    right: 10px;
    top: 1px;
    margin-right: 10px;
  }
}
</style>