<template>
  <div class="container" v-click-outside="closeMenu">
    <button class="toggle-button" @click="toggleVisibility">
      Месяцы
    </button>
    <div v-if="isVisible" class="context-menu">
      <div class="select-all">
        <input
          type="checkbox"
          id="selectAll"
          @change="toggleSelectAll"
          :checked="allSelected"
        />
        <label for="selectAll">Выбрать все</label>
      </div>
      <div
        v-for="(month, index) in monthNames"
        :key="index"
        class="month-item"
      >
        <input
          type="checkbox"
          :id="month"
          :checked="selectedMonths[index]"
          @change="toggleMonth(index)"
        />
        <label :for="month">{{ month }}</label>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';
import { useStore } from '@/store/store';
import { monthNames } from '@/store/monthsDictionary';

const store = useStore();


const selectedMonths = computed(() => store.selectedMonths);
const allSelected = computed(() => selectedMonths.value.every(Boolean));

const isVisible = ref(false);

const toggleMonth = (monthIndex: number) => {
  store.toggleMonth(monthIndex);
};

const toggleSelectAll = () => {
  const newValue = !allSelected.value;
  store.selectAll(newValue);
};

const toggleVisibility = () => {
  isVisible.value = !isVisible.value;
};

const closeMenu = () => {
  isVisible.value = false;
};
</script>

<style scoped lang="scss">
.container {
  position: relative;
  display: inline-block;
}

.context-menu {
  position: absolute;
  color: black;
  background: white;
  border: 1px solid black;
  padding: 10px;
  grid-column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  top: 0;
  left: 250px;
  transform: translateY(5px);
  z-index: 10;
}

.toggle-button {
  margin: 15px;
  padding: 6px 10px;
  font-size: 20px;
  width: auto;
  background-color: #6f45e0;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: flex-start; 
  margin-left: 120px;

  
  &:active {
    background-color: #7a55df;
  }
}
</style>