<template>
  <div class="month-links">
    <a
      href="#"
      v-for="(month, index) in filteredMonthLinks"
      :key="index"
      :class="{ 'month-link': true, 'night-mode': nightMode }"
      @click.prevent="changeMonth(month.index)"
    >
      {{ month.name }}
    </a>
  </div>
</template>

<script setup lang="ts">
import { defineProps, computed, defineEmits } from 'vue';
import { useStore } from '@/store/store';

const props = defineProps({
  monthLinks: {
    type: Array as () => string[],
    required: true,
  },
  nightMode: {
    type: Boolean,
    required: true,
  },
});

const emit = defineEmits(['change-month']);
const store = useStore();

const filteredMonthLinks = computed(() => {
  return props.monthLinks
    .map((name, index) => ({ name, index }))
    .filter((_, index) => store.selectedMonths[index]);
});

const changeMonth = (monthIndex: number) => {
  emit('change-month', monthIndex);
};
</script>

<style scoped lang="scss">
.month-links {
  margin-top: 20px;
  margin-left: 110px;

  @media (max-width: 1550px) {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-right: 135px;
  }
}

.month-link {
  font-size: 25px;
  margin: 10px;
  cursor: pointer;
  text-decoration: underline;
  color: black;
}

.night-mode {
  .month-link {
    color: white;
  }
}
</style>